@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #1c1e23;
    color: #e6e3d1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #232C33; 
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
    height: 915px;
    padding: 10px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-btn {
    font-size: 2.5rem;
    text-decoration: none;
    color: #e6e3d1;
}

h1 {
    font-size: 3rem;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px 0;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1500px;
    background-color: #20272E;
    border-radius: 18px;
}

.image-section {
    flex: 1;
    text-align: center;
    overflow: hidden;
    height: 200px;
    margin-right: 100px;   
    padding: 0; 
}

.image-placeholder {
    max-width: 315px;
    height: 315px;
    object-fit: cover;

    border-radius: 16px;
}

.comments-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    max-width: 430px;
    margin-right: 100px;
}

.comment {
    position: relative; 
    background-color: #333; 
    padding: 20px; 
    border-radius: 18px; 
    margin-bottom: 10px; 
    text-align: center;
    border: 2px solid #e6e3d1; 
    min-height: 120px; 
    color: #e6e3d1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    line-height: 1.5; 
    width: 100%; 
    max-width: 600px; 
    overflow: hidden; 
    white-space: normal; 
    font-size: 24px; 
}

.comment::before {
    content: "Сделайте круто класс сайт"; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 24px; 
    color: rgba(230, 227, 209, 0.5); 
    pointer-events: none; 
    white-space: nowrap; 
}


.comment[contenteditable="true"]:empty:before {
    content: "Сделайте круто класс сайт";
    visibility: visible;
    color: rgba(230, 227, 209, 0.3);
    white-space: nowrap; 
}

.comment.has-content::before {
    visibility: hidden; 
}

.comment:nth-child(2)::before {
    white-space: nowrap; 
    content: "Сделайте ваще оч круто класс сайт";
}

.contacts {
    width: 100%;
border: 2px solid #C2BCA2 ;
border-radius: 18px;
}

.contacts table {
    width: 100%;
    border-collapse: collapse;
    font-size: calc(1rem + 1vw);
    color: #C2BCA2;
}

.contacts th, .contacts td {
    padding: 15px;
    text-align: center;
    padding-right: 75px;
    padding-left: 25px;

}

.contacts a {
    color: #C2BCA2;
    text-decoration: none;
}

.contacts .icon {
    margin-right: 15px;
    font-size: 2rem;
}

.create-order {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 40px; 
    margin: 50px auto; 
    margin-top: 40px; 
    border: 4px dashed #e0c896;
    border-radius: 36px;
    width: 80vw;
    font-size: 2vw; 
    text-decoration: none; 
    color: inherit; 
}
.create-order:hover {
    background-color: rgba(224, 201, 150, 0.2); 
}

.order-icon {
    font-size: 3vw; 
    margin-right: 10px; 
}

.profile-btn {
    background-color: #333;
    color: #e6e3d1;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: calc(1rem + 1vw);
    border: 2px solid #C2BCA2;
}

.profile-btn:hover {
    background-color: #444;
}
